**.swp
*.pdf
*.retry
.AMD/
.AndroidStudio2.1/
.CFUserTextEncoding
.DS_Store
.FBReader/
.Genymobile/
.ICEauthority
.IdeaIC11/
.IdeaIC13/
.IdeaIC14/
.IdentityService/
.IntelliJIdea14/
.IntelliJIdea15/
.LD/
.ServiceHub/
.Skype/
.Trash/
.Ultimate/
.VirtualBox/
.Xauthority
.Xauthority.*
.adobe/
.android
.atom/
.aws/
.babel.json
.bash_history
.bash_logout
.bash_sessions/
.brew_token
.bundle/
.bzr.log
.cache/
.calc_history
.calibre_calibre GUI.lock
.cinnamon/
.cola
.compiz-1/
.compiz/
.composer/
.config/
.csshrc
.cups/
.dbshell
.dbus/
.dia/
.directory
.dmrc
.dropbox-dist/
.dropbox-master/
.dropbox/
.dvdcss/
.e/
.eclim/
.eclipse/
.editrc
.efreet/
.emacs.d/#init.el#
.emacs.d/#marshall.el#
.emacs.d/auto-save-list/*
.emacs.d/backups/*
.emacs.d/elpa/*
.emacs.d/init.el~
.emacs.d/places
.emulator_console_auth_token
.erlang.cookie
.esd_auth
.everpad/
.face
.face.icon
.fctsslvpnhistory
.filezilla/
.fontconfig/
.fonts.conf
.gconf/
.gconfd/
.gdbinit
.gdbinit~
.gegl-0.0/
.gem/
.gimp-2.6/
.gimp-2.8/
.github-stats/
.gitignore_global
.gitk
.gitkraken/
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.googleearth/
.goutputstream*
.goutputstream-J0DAFW
.gpg-agent-info
.gradle/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-kde4
.guard_history
.heroku/
.hgignore_global
.hgrc
.histfile
.htoprc
.hwid
.icedtea/
.ido.last
.insert-shebang.log
.irb-history
.irb_history
.irbrc
.ivy2/
.java/
.java_history
.jenv/
.jline-clojure.main.history
.jshintrc
.jspm/
.kchmviewer/
.kde/
.kderc
.kdevduchain/
.lein/
.lesshst
.libreoffice/
.linuxmint/
.local/
.m2/
.macromedia/
.mission-control/
.mongorc.js
.mono/
.mozilla/
.mplayer/
.my.cnf
.mysql_history
.nbprofiler/
.netbeans/
.netrc
.node-gyp/
.npm/
.nuget/
.nv/
.nvidia-settings-rc
.nvm/
.nylas-mail/
.oh-my-zsh/
.openoffice.org/
.opera/
.oracle_jre_usage/
.p2/
.pam_environment
.pgpass
.pia_manager/
.pia_manager_crash.log
.pip/
.pki/
.pow
.profile
.pry_history
.psql_history
.pulse-cookie
.pulse/
.putty/
.pyenv/
.pylint.d/
.python_history
.rbenv/
.recentf
.recently-used
.rediscli_history
.rnd
.rubies/
.ruby-version
.rvm/
.sabnzbd/
.sbt.cache.lock
.scala_history
.selected_editor
.serverauth.3683
.spark_history
.sqlite_history
.ssh/
.steam*
.subversion/
.subversion_IDEA/
.sudo_as_admin_successful
.swt/
.templateengine/
.thefuck/
.themes/
.thumbnails/
.thunderbird/
.tooling/
.twitter_oauth
.v8flags*
.vagrant.d/
.vim/.netrwhist
.vim/bundle/*
.vim/bundle/vundle/.netrwhist
.viminfo
.viminfz.tmp
.virtualenvs/
.visualvm/
.w3af/
.wakatime.cfg
.wakatime.db
.wakatime.log
.webclipse.properties
.wget-hsts
.wine/
.xsession-errors
.xsession-errors.old
.yarnrc
.z
.zcompdump
.zcompdump*
.zcompdump-bigfoot-5.0.7
.zcompdump-serenity-5.0.2
.zcompdump-werewolf-5.0.7
.zhistory
.zprezto/
.zsenv
.zsh-update
.zsh_history
.zshrc-e
.zshrc.pre-oh-my-zsh
.zshrc_linux
.zshrc_osx
1-shot-dnd.txt
AndroidStudioProjects/
Applications/
Blizzard/
Books/
Bunch-t4s.zip
Calibre Library/
Calibre_Library/
Comics/
Desktop/
Documents/
Downloads/
Dropbox/
Ernest_Cline-Ready_Player_One.epub
IdeaProjects/
Library/
Marshall Gunter 2013 RL.pdf
Marshall Gunter 2013 T4.pdf
Movies/
Music/
PSAs.txt
Pictures/
Public/
Sites/
Steve_Jobs_quits.png
TV/
Ubuntu One/
Videos/
VirtualBox VMs/
Work/
\#.spacemacs\#
accountant.txt
add-stores.sql
android-workspace/
aws-credentials.csv
bak/
bike-stuff.txt
bin/
dan-reply.txt
dbtunnels.sh
dnd-notes.txt
dnd/
docs/
downloads/
dropbox-codes.txt
emacs.d.base/
eng-meeting-notes.txt
estimates.txt
examples.desktop
foo
full-stack-description.txt
jack-ponte-notes.txt
jmeter.log
leads.txt
libpeerconnection.log
me.txt
media/
mesmer-notes.txt
motivational-notes.txt
myc.sh
new-store.sql
node_modules/
onboarding-notes.txt
overage-notes.txt
photos/
power-meters.txt
probs.sh
projects/
qa-notes.txt
salesfloor_admin.txt
skus.sh
src/
start-mongo.sh
stop-mongo.sh
td.txt
tmp/
vincent-pw.txt
wifi.txt
workspace/
