!.vim/bundle/vundle/*
!.vim/bundle/vundle/autoload/*
!.vim/bundle/vundle/autoload/vundle/*
!.vim/bundle/vundle/doc/*
!.vim/bundle/vundle/test/*
!.vim/bundle/vundle/test/files/*
# Vundle stuff
**.swp
*.retry
.CFUserTextEncoding
.DS_Store
.FBReader/
.ICEauthority
.IdeaIC11/
.IdeaIC13/
.LD/
.Skype/
.Trash/
.VirtualBox/
.Xauthority
.Xauthority.*
.adobe/
.android
.bash_history
.bash_logout
.bzr.log
.cache/
.calibre_calibre GUI.lock
.cinnamon/
.cola
.compiz-1/
.compiz/
.config/
.csshrc
.cups/
.dbus/
.dia/
.directory
.dmrc
.dropbox-dist/
.dropbox-master/
.dropbox/
.dvdcss/
.e/
.eclim/
.eclipse/
.efreet/
.emacs.d/#marshall.el#
.emacs.d/auto-save-list/*
.emacs.d/backups/*
.emacs.d/places
.erlang.cookie
.esd_auth
.everpad/
.face
.face.icon
.fctsslvpnhistory
.filezilla/
.fontconfig/
.fonts.conf
.gconf/
.gconfd/
.gdbinit
.gdbinit~
.gegl-0.0/
.gem/
.gimp-2.6/
.gimp-2.8/
.gitignore_global
.gitk
.gksu.lock
.gnome2/
.gnupg/
.googleearth/
.goutputstream*
.goutputstream-J0DAFW
.gpg-agent-info
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-kde4
.guard_history
.heroku/
.hgignore_global
.hgrc
.hwid
.icedtea/
.ido.last
.irb-history
.irb_history
.irbrc
.ivy2/
.java/
.java_history
.jline-clojure.main.history
.kchmviewer/
.kde/
.kderc
.kdevduchain/
.lein/
.lesshst
.libreoffice/
.linuxmint/
.local/
.m2/
.macromedia/
.mission-control/
.mozilla/
.mplayer/
.my.cnf
.mysql_history
.nbprofiler/
.netbeans/
.netrc
.npm/
.nv/
.nvidia-settings-rc
.openoffice.org/
.opera/
.pam_environment
.pgpass
.pip/
.pki/
.pow
.profile
.psql_history
.pulse-cookie
.pulse/
.putty/
.pylint.d/
.rbenv/
.recentf
.recently-used
.rediscli_history
.rnd
.rubies/
.rvm/
.sabnzbd/
.sbt.cache.lock
.scala_history
.selected_editor
.serverauth.3683
.ssh/
.steam*
.subversion/
.subversion_IDEA/
.sudo_as_admin_successful
.swt/
.themes/
.thumbnails/
.thunderbird/
.twitter_oauth
.vagrant.d/
.vim/.netrwhist
.vim/bundle/*
.vim/bundle/vundle/.netrwhist
.viminfo
.viminfz.tmp
.virtualenvs/
.visualvm/
.w3af/
.wine/
.xsession-errors
.xsession-errors.old
.zshrc
Applications/
Books/
Calibre Library/
Calibre_Library/
Desktop/
Documents/
Downloads/
Dropbox/
Ernest_Cline-Ready_Player_One.epub
Library/
Movies/
Music/
Pictures/
Public/
Sites/
Steve_Jobs_quits.png
TV/
Ubuntu One/
Videos/
VirtualBox VMs/
android-workspace/
bak/
bin/
docs/
downloads/
jmeter.log
libpeerconnection.log
media/
photos/
projects/
src/
tmp/
workspace/
