.FBReader/
.ICEauthority
.IdeaIC11/
.Skype/
.VirtualBox/
.Xauthority
.Xauthority.*
.adobe/
.bash_history
.bash_logout
.bzr.log
.cache/
.cola
.compiz-1/
.compiz/
.config/
.cups/
.dbus/
.dia/
.directory
.dmrc
.dropbox-dist/
.dropbox/
.dvdcss/
.e/
.eclim/
.eclipse/
.efreet/
.emacs.d/auto-save-list/*
.emacs.d/places
.erlang.cookie
.esd_auth
.everpad/
.face
.face.icon
.fctsslvpnhistory
.fontconfig/
.fonts.conf
.gconf/
.gconfd/
.gdbinit
.gdbinit~
.gegl-0.0/
.gem/
.gimp-2.6/
.gimp-2.8/
.gitk
.gnome2/
.gnupg/
.goutputstream*
.goutputstream-J0DAFW
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-kde4
.heroku/
.hwid
.icedtea/
.ido.last
.irb_history
.irbrc
.ivy2/
.java/
.java_history
.jline-clojure.main.history
.kchmviewer/
.kde/
.kderc
.kdevduchain/
.lein/
.lesshst
.libreoffice/
.local/
.m2/
.macromedia/
.mission-control/
.mozilla/
.mplayer/
.my.cnf
.mysql_history
.nbprofiler/
.netbeans/
.netrc
.nv/
.nvidia-settings-rc
.opera/
.pam_environment
.pgpass
.pip/
.pki/
.profile
.psql_history
.pulse-cookie
.pulse/
.recentf
.recently-used
.rnd
.rvm/
.sabnzbd/
.sbt.cache.lock
.scala_history
.selected_editor
.ssh/
.subversion/
.subversion_IDEA/
.sudo_as_admin_successful
.swt/
.thumbnails/
.thunderbird/
.twitter_oauth
.vim/.netrwhist
.vim/.netrwhist
.vim/bundle/vundle/.netrwhist
.viminfo
.visualvm/
.w3af/
.wine/
.xsession-errors
.xsession-errors.old
.zshrc
Calibre_Library/
Desktop/
Dropbox/
Ernest_Cline-Ready_Player_One.epub
Ubuntu One/
VirtualBox VMs/
bak/
bin/
docs/
downloads/
jmeter.log
media/
projects/
src/
tmp/
workspace/
