[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	lg = log --pretty=format:'%Cred%h %Cgreen%cd%Creset |%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph --abbrev-commit --date=short
	meld = /home/mgunter/bin/git-meld.pl
[user]
	name = Marshall Gunter
	email = mgunter@isentium.com
[core]
	editor = vim
[color]
	ui = true
[diff]
	#external = ~/bin/git_diff.sh
